@define-color fg #abb2bf;
@define-color red #e06c75;
@define-color green #98c379;
@define-color yellow #e5c07b;
@define-color blue #61afef;
@define-color purple #c678dd;
@define-color cyan #56b6c2;

* {
    border: none;
    font-family: "BlexMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px; 
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

window#waybar {
    background-color: transparent;
    color: @fg;
}

tooltip {
    background: #282c34;
    border: 1px solid @blue;
    border-radius: 8px;
}

tooltip label {
    color: @fg;
    text-shadow: none;
}

#cpu, #memory, #temperature,
#custom-netusage, #custom-kubernetes,
#clock,
#custom-mpv, #pulseaudio, #backlight, #battery, #niri-language, #tray, #custom-lock {
    background-color: transparent;
    margin: 0 35px;
    box-shadow: none;
}

#group-hardware #cpu, 
#group-hardware #memory, 
#group-hardware #temperature {
    color: @fg;
}

#clock {
    color: @fg;
    font-size: 18px;
}

#custom-netusage, #custom-kubernetes {
    color: @fg;
}

#pulseaudio {
    color: @fg;
}

#pulseaudio.muted {
    color: #5c6370;
}

#battery {
    color: @green;
}

#battery.charging {
    color: @cyan;
}

#battery.warning:not(.charging) {
    color: @yellow;
}

#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-mpv { color: @fg; }
#backlight { color: @fg; }
#custom-lock { color: @red; }
#niri-language { color: @blue; }

#clock:hover, #battery:hover, #pulseaudio:hover, #niri-language:hover, #custom-lock:hover {
    color: #ffffff;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.4);
}

@keyframes blink {
    to {
        color: rgba(255, 255, 255, 0.5);
    }
}
