# This is Git's per-user configuration file.
[user]
	name = Max Heyer
	email = mail@max.gp
[alias]
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	rb = for-each-ref --sort=-committerdate --count=10 --format='%(refname:short)' refs/heads/
    a = add
    c = commit -m
    d = diff
    dc = diff --cached
    s = status
    sm = s
    co = checkout
    cob = checkout -b
    # list aliases
    la = "!git config -l | grep alias | cut -c 7-"
[pull]
	ff = only
[core]
	quotepath = false
	excludesfile = ~/.gitignore_global
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
